body {
  padding: 0px;
  margin: 0px;
  font-family: "helvetica";
}

.container {
  perspective: 1px;
  height: 100vh;
  overflow-y: hidden;
}

.background {
  position: fixed;
  height: 130vh;
  width: 100%;
  transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
  transform: translatey(20vh);
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.content {
  height: 100vh;
  display: grid;
  place-items: center;
  transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
  transform: translateY(40vh);
}

.content img {
  max-width: 800px;
  margin: 0 auto;
}

.background:first-child {
  background-image: url(images/Hiker.png);
  z-index: 10;
  transform: translateY(-15vh);
}

.background:first-child .content {
  transform: translateY(15vh);
}

.background:nth-child(2) {
  background-image: url(images/Hiker-2.png);
  z-index: 9;
}

.background:nth-child(3) {
  background-image: url(images/Hiker-3.png);
  z-index: 8;
}

.background.scroll-down {
  transform: translateY(-130vh);
}

.background.scroll-down > .content {
  transform: translateY(0vh);
}

.background.scroll-down + .background:not(.scroll-down) {
  transform: translateY(-15vh);
}

.background.scroll-down + .background:not(.scroll-down) > .content {
  transform: translateY(15vh);
}

.before-img {
  height: 100vh;
  background-color: #000f41;
}

.long-photo {
  /* background-image: url(images/HikingBuddyshootGRADED15.jpg);
  background-repeat: no-repeat;
  background-size: 100%; */
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  min-width: 375px;
}
.long-photo img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  position: relative;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.first {
  padding-left: 22%;
  top: 17%;
}

.first .line {
  width: 100%;
  border-bottom: 3px solid #000f41;
  max-width: 723px;
  min-width: 130px;
  margin-right: 10px;
}

.first-comment p {
  color: #000f41;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.first-comment h2 {
  color: #000f41;
  letter-spacing: -10px;
  position: relative;
  font-size: calc(4vw - 3px);
  margin: 0 0 10px 0;
}

.double {
  padding-left: 42%;
  top: 30%;
}

.double .line {
  width: 100%;
  border-bottom: 3px solid #000f41;
  max-width: 423px;
  margin-right: 10px;
  min-width: 45px;
}

.first-comment {
  transition: opacity 2s;
  max-width: 315px;
}

.third {
  padding-left: 45%;
  top: 42%;
}

.third .line {
  width: 100%;
  border-bottom: 3px solid #000f41;
  max-width: 373px;
  margin-right: 10px;
  min-width: 35px;
}

.fourth {
  top: 82%;
  padding-left: 18%;
  flex-direction: column;
  align-items: baseline !important;
}

.fourth .line {
  border-right: 3px solid #000f41;
  border-top: 3px solid #000f41;
  padding: 0 36% 10% 0;
  border-bottom: none !important;
}

.fourth .first-comment {
  margin-bottom: 10px;
}

.holder {
  display: flex;
  align-items: center;
  transition: 6s cubic-bezier(0.22, 0.44, 0, 1);
  transform: translateX(-10vw);
  z-index: -1;
  opacity: 0;
  position: absolute;
  right: 0;
  left: 0;
  padding-right: 5%;
}

@media screen and (min-width: 1200px) {
  .first-comment h2 {
    font-size: 72px !important;
  }
}

@media screen and (max-width: 1200px) {
  .first-comment h2 {
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 1024px) {
  .first-comment {
    max-width: 210px;
  }
  .first-comment p {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .first-comment {
    max-width: 150px;
  }
  .line {
    border-bottom: 1px solid #000f41 !important;
  }
}

@media screen and (max-width: 400px) {
  .first-comment {
    max-width: 130px;
  }
  .first-comment p {
    font-size: 10px;
  }
}

.bannerTextAnimated {
  transform: translateX(0vw) !important;
  opacity: 1 !important;
}

.image-with-animation-text {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  min-width: 375px;
}
.image-with-animation-text img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  position: relative;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.animation-text {
  position: absolute;
  margin: 0;
  color: #000f41;
  font-size: calc(2vw - 1px);
  line-height: 1.2;
  font-weight: 500;
  transition: 2s;
  opacity: 0.2;
  left: 12%;
  max-width: 500px;
  max-width: 32%;
}

.text-1 {
  top: 10%;
}

.text-2 {
  top: 34%;
}

.text-3 {
  top: 52%;
}

.text-4 {
  top: 78%;
}

.opacity-none {
  opacity: 1 !important;
}

@media screen and (min-width: 1300px) {
  .after-img-animation p {
    font-size: 30px;
  }
}
